<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @record.data %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @record.distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @record.time %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
